/* tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* global css */
@layer base {
	body {
		direction: rtl;
		/* background: linear-gradient(176deg, rgb(18, 24, 27) 50%, rgb(32, 39, 55) 100%); */
		background-color: #f1f1f1;
		color: #cbd5e1;
		/* background-color: #e0e0e0; */
		background-attachment: fixed;
		font-size: 14px;
		min-height: 100vh;
	}

	@font-face {
		font-family: 'Vazir';
		src: url('./Fonts/Vazir/Vazirmatn-Regular.ttf') format('ttf');
		font-display: swap;
	}

	@font-face {
		font-family: 'Vazir Bold';
		src: url('./Fonts/Vazir/Vazirmatn-Bold.ttf') format('ttf');
		font-display: swap;
	}

	@font-face {
		font-family: 'Vazir Light';
		src: url('./Fonts/Vazir/Vazirmatn-Light.ttf') format('ttf');
		font-display: swap;
	}

	@font-face {
		font-family: 'Lalezar';
		src: url(./Fonts/Lalezar-Font/OTF/Lalezar-Regular.otf) format('otf');
	}
}
